h4 {
    color:blue;
    background-color:coral;
}

.color-orange {
    background-color: orange;
}

#color-violet{
    background-color: violet;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

